<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="testJava.Speaker" id="speaker" />
	<bean class="testJava.SamsungTV" id="samsungTV">
		<property name="speaker" ref="speaker" />
	</bean>
	
	<!-- 생성자에 의한 의존주입 -->
	<!-- <bean class="testJava.SamsungTV" id="samsungTV">
    	<constructor-arg ></constructor-arg> 
    </bean>	-->
	
	<!-- Setter에 의한 의존주입 -->
    <bean class="testJava.LgTV" id="lgTV">
    	<property name="tv" ref="samsungTV" />
    </bean>		

</beans>
